 * {
    margin: 0;
    padding: 0;
}

body {
    background-color: #675154;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    /* color: #002A32; */
    /* color: #77A0A9; */
    background-color: #EEF0F2;
}

#resetbtn {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #335145;
    color: white;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
   
}

#newbtn {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #335145;
    color: white;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
}

#msg {
    color:rgb(244, 246, 225);
    font-size: 8vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hidden {
    display: none;
}

.box-red{
    color: red;
}

.box-green{
    color: green;
}